:root {
    --color-orange: rgb(255, 81, 0);
    --color-black: rgb(66, 34, 21);
    --color-darkorange: rgba(56, 11, 4, 0.8);
  }
  
  #container {
    border: solid;
    height: 1900px;
    margin: auto;
    background-image: linear-gradient(
    80deg,
    rgba(212, 56, 32, 0.8),
    rgba(216, 202, 199, 0.7)
    ),
      url(https://www.wallpapertip.com/wmimgs/83-838195_javascript-javascript-hd.png);
    
    
  }
  
  #form-box {
    border: solid;
    width: 800px;
    height: auto;
    margin: auto;
    top: 50px;
    border-radius: 30px;
    background-color: var(--color-darkorange);
  }
  
  .center-boxes {
    width: 475px;
    margin: auto;
    border: sol;
    display: block;
    height: auto;
  }
  
   #name-box, #email-box, #number-box, #dropdown-box, #div-radio, #divcheck, #comment, #idsubmit {
    margin-top: 60px;
    margin-bottom: 60px;
   
    
    
  }
  
  .size-input {
    width: 350px;
    height: 30px;
  }
  
  #comments{
    height: 80px;
    width: 350px;
  }
  
  #submit{
   width: 350px;
   height: 35px;
  }
  
  
  body {
    text-align: center;
    font-size: 20px;
    font-style: Courier;
    color: white;
    
    
    
   
  }
  
  
  
  #name-label, #name, #email-label, #email, #number-label, #number  {
      margin: 20px;
  }
  
  #dropdown-p {
    margin: 0px;
  }
  
  #dropdown {
    margin: 20px;
    width: 360px;
    height: 35px;
  }
  
  #p-radio {
    margin: 0px;
    margin-bottom: 20px
  }
  
  .margin-radios{
    margin: 20px;
    
  }
  
  #p-checkbox {
    margin: 0px;
    margin-bottom: 20px;
  }
  
  .margin-checkbox {
    margin: 20px;
  }
  
  #p-comment {
    margin: 0px;
  }
  
  textarea {
    margin: 20px;
  }
  
  #check1, #check2, #check3, #rad1, #rad2, #rad3 {
     transform: scale(1.5);
  }
  
  #name, #email, #number, #dropdown, #comments, #submit {
    font-size: 17px;
    font-family: Arial;
  }
  
  .padding-form-box {
     padding-top: 10px;
     padding-bottom: 10px;
  }
  
  #name, #email, #number, #dropdown, #comments, #submit {
    border-radius: 15px;
  }
  
  
  .center-label-1 {
    border: sol;
    display: block;
    width: 110px;
    margin: auto;
    
    
  }
  
  .center-label-2 {
    border: sol;
    display: block;
    width: 60px;
    margin: auto;
    
  }
  
  button:hover {
    color: orange;
    background-color: lightgreen;
    transform: scale(1.2);
  }
  